
#$fileOrDir | $destination | $platform | $type | tagsOrLabels
#types sitepackages, root, base, etc, tmp,bin
#tagslabels: e.g. config
#platform empty means generic

apps/osis/logic/* | apps/osis/logic | | base | 
apps/portal_space/* | base | | app | 

lib/cloudrobotservices/* | lib/cloudrobotservices | | jslib |
